src/main/axis2/LdapHelper.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LdapHelper" targetNamespace="http://innovelocity.intalio.com/LdapHelper/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://innovelocity.intalio.com/LdapHelper/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://innovelocity.intalio.com/LdapHelper/">
      <xsd:element name="Query">
      	<xsd:complexType>
      		<xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="0" name="searchBase" type="xsd:string"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="1" name="Parameters" type="tns:Item">
      			</xsd:element>
      			<xsd:element maxOccurs="unbounded" minOccurs="1" name="Returns" type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Results" type="tns:Data"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
       <xsd:complexType name="Item">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="1" name="Key" type="xsd:string"/>
      		<xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
        
      <xsd:complexType name="Data">
      	<xsd:sequence>
      		<xsd:element maxOccurs="unbounded" minOccurs="1" name="Items" type="tns:Item"/>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Update">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsd:string"/>
      			<xsd:element maxOccurs="1" minOccurs="1" name="Operation" type="tns:Operation"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Results" type="tns:Data"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>

      <xsd:complexType name="Operation">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="1" name="Action" type="tns:OperationAction"/>
      		<xsd:element maxOccurs="1" minOccurs="1" name="Item" type="tns:Item"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:simpleType name="OperationAction">
      	<xsd:restriction base="xsd:string">
      		<xsd:enumeration value="ADD"/>
      		<xsd:enumeration value="REPLACE"/>
      		<xsd:enumeration value="REMOVE"/>
      	</xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UpdateRequest">
    <wsdl:part name="parameters" element="tns:Update">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateResponse">
    <wsdl:part name="parameters" element="tns:UpdateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="QueryRequest">
    <wsdl:part name="parameters" element="tns:Query">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="QueryResponse">
    <wsdl:part name="parameters" element="tns:QueryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LdapHelper">
    <wsdl:operation name="Query">
      <wsdl:input message="tns:QueryRequest">
    </wsdl:input>
      <wsdl:output message="tns:QueryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateRequest">
    </wsdl:input>
      <wsdl:output message="tns:UpdateResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LdapHelperSOAP" type="tns:LdapHelper">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://innovelocity.intalio.com/LdapHelper/Query"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://innovelocity.intalio.com/LdapHelper/Update"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LdapHelper">
    <wsdl:port name="LdapHelperSOAP" binding="tns:LdapHelperSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
